﻿.dropdown.dropdown-masked {
    position: static;

    &.open > .dropdown-menu {
        background: #ccc;
        box-shadow: 0 100vh 0 100vh rgba(0,0,0,.5),0 5px 5px rgba(0,0,0,.5);
        width: 100vw;
        border-width: 1px 0 0;
        border-radius: 0;
        margin-left: -1px; // Negative offset for the .navbar left 1px border
    }
}
// Optionally add css animations on dropdowns
.dropdown {
    .dropdown-menu {
        transition: all 0.3s;
        max-height: 0;
        display: block;
        overflow: hidden;
        opacity: 0;
    }

    &.open .dropdown-menu {
        transition: max-height 1s;
        max-height: 100vh;
        opacity: 1;
    }
}